asn1crypto==0.23.0
astroid==1.5.3
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.4.1
catfish==1.4.2
cffi==1.11.2
chardet==2.3.0
click==6.7
command-not-found==0.3
constantly==15.1.0
cryptography==2.1.3
cssselect==1.0.1
defer==1.0.6
Django==2.2.24
Flask==0.11.1
html5lib==0.999
hyperlink==17.3.1
idna==2.6
imagebot==1.2.1
incremental==17.5.0
instagram-scraper==1.5.5
isort==4.2.15
itsdangerous==0.24
Jinja2==2.9.6
language-selector==0.1
lazy-object-proxy==1.3.1
lightdm-gtk-greeter-settings==1.2.1
lxml==4.1.1
MarkupSafe==1.0
mccabe==0.6.1
menulibre==2.1.3
mock==2.0.0
mugshot==0.3.1
mutils==1.0.5
onboard==1.2.0
parsel==1.2.0
pbr==3.1.1
pexpect==4.0.1
Pillow==3.1.2
psutil==3.4.2
ptyprocess==0.5
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
PyDispatcher==2.0.5
pygobject==3.20.0
pylint==1.7.4
pyOpenSSL==17.3.0
python-apt==1.1.0b1
python-debian==0.1.27
python-systemd==231
pytz==2017.3
pyxdg==0.25
queuelib==1.4.2
reportlab==3.3.0
requests==2.10.0
requests-mock==1.3.0
Scrapy==1.4.0
selenium==3.7.0
service-identity==17.0.0
sessioninstaller==0.0.0
six==1.11.0
tqdm==4.19.4
Twisted==17.9.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
w3lib==1.18.0
Werkzeug==0.12.2
wrapt==1.10.11
xkit==0.0.0
zope.interface==4.4.3
