<html>

<head>
    <title>Geek Point</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




</head>
<body>

    <script>
        
        
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1896187067075958',
                cookie: true,
                xfbml: true,
                version: 'v2.11'
            });



            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });



        };



        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function statusChangeCallback(response) {

            if (response.status === 'connected') {
                document.location.href = '/'

                setElements(true);

                testAPI();
            } else {
                setElements(false);
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        function testAPI() {

            FB.api('/me?fields=id,name,location,email,birthday,picture,friendlists,link', function (response) {
                if (response && !response.error); {

                                       

                }
            });

        }


        

        function logout() {
            FB.logout(function (response) {
                document.location.href = '/'

                setElements(false);

            });

        }



        function setElements(isLoggedIn) {
            if (isLoggedIn) {
                document.getElementById('fb-btn').style.display = 'none';
                document.getElementById('logout').style.display = 'block';

                
                

            } else {
                document.getElementById('fb-btn').style.display = 'block';
                document.getElementById('logout').style.display = 'none';


            }
        }


        (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=784826381719895';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));




        
        
        </script>


        </form>
        <div id="fb-root"></div>

        <div id = "fb-share" class="btn fb-share-button" data-href="" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
        <a id="logout" href="#" class="btn btn-danger btn-block" role="button" onclick="logout()">logout</a>
        
                <fb:login-button id="fb-btn" class="btn btn-info btn-block" scope="public_profile,email,user_location" onlogin="checkLoginState();">
                </fb:login-button>



    </div>




  


</body>

</html>